.dropdown {
  position: relative;
}

.menu-list {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  width: 275px;
  max-width: 275px;
  position: absolute;
}

.menu-item {
  padding: 1rem;
}

.menu-item .flex {
  align-items: center;
  justify-content: space-between;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid var(--default-hover);
}
.menu-item:hover {
  color: var(--button-1);
  cursor: pointer;
}

.menu-item--active {
  color: var(--button-1);
}
