.btn {
  background-color: var(--button-1);
  border: none;
  border-radius: 10px;
  color: var(--default);
  font-weight: 700;
  padding: 1rem;
  transition: 0.2s ease-out;
}

.btn:hover {
  background-color: var(--button-1-hover);
  cursor: pointer;
}

.btn--cta {
}

.btn--two {
}

.btn--danger {
}
