.pill {
  background-color: var(--default);
  border-radius: 25%;
  color: var(--blue-purple);

  font-weight: bold;
  padding: 0 0.5rem;
}

.pill:hover {
  background-color: var(--default-hover);
  cursor: pointer;
}

.pill:active {
  background-color: var(--blue-purple);
  color: white;
}

.pill--upvote {
  align-items: center;
  border-radius: 25%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .pill--upvote {
    flex-direction: row;
  }

  .pill--upvote span:first-child {
    margin-right: 5px;
  }
}
