.suggestion-bar {
  background-color: var(--button-3);
  padding: 0.5rem;
  margin-bottom: 1.5rem;
}

.suggestion-bar .flex {
  align-items: center;
  justify-content: space-evenly;
}

.suggestion-bar .btn {
  margin-left: auto;
}

.suggestion-bar__count {
  color: white;
}

@media screen and (max-width: 500px) {
  .suggestion-bar__count {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .suggestion-bar {
    border-radius: 10px;
    max-width: 689px;
  }

  .suggestion-bar__count {
    margin-right: 24px;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .suggestion-bar {
    max-width: 825px;
    border-radius: 10px;
  }

  .suggestion-bar__count {
    margin-right: 24px;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .suggestion-bar {
    border-radius: 10px;
    max-width: 825px;
  }

  .suggestion-bar__count {
    margin-right: 24px;
  }
}
