@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Roboto:wght@400;500&family=Space+Mono:wght@400;700&display=swap");

html {
  font-family: "Jost", sans-serif;

  font-family: "Roboto", sans-serif;

  font-family: "Space Mono", monospace;

  font-size: 16px;
}

:root {
  --body: #f7f8fd;
  --default: #f2f4fe;
  --default-hover: #cfd7ff;

  --blue-purple: #4661e6;

  --button-1: #ad1fea;
  --button-1-hover: #c75af6;

  --button-2-hover: #7c91f9;

  --button-3: #3a4374;
  --button-3-hover: #656ea3;

  --danger: #d73737;
  --danger-opaque: #e98888;
}

html {
  background-color: var(--body);
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin: 0;
  line-height: 35px;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
}

h4 {
  font-size: 14px;
  margin: 0;
}

p {
  line-height: 23px;
}
