.suggestion {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1.5rem;
}

.suggestion .flex {
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: baseline;
  gap: 1rem;
}

.suggestion-body {
  text-overflow: ellipsis;
}

.suggestion-body p {
  margin-bottom: 1rem;
}

.vote-count {
  margin-right: auto;
}

.comment-count {
  margin-left: auto;
}

@media screen and (min-width: 429px) {
  .suggestion {
    max-width: 825px;
  }
  .suggestion .flex {
    justify-content: space-between;
  }

  .vote-count {
    order: -1;
  }
}
